body{
    background: rgb(250, 250, 250);
}

.container-adicionar{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background:rgb(226, 238, 222);
}

.titulo{
    
    width: 275px;
}

#titulo-form{
    font-size: 32px;
    background: rgb(223, 134, 101);
    padding: 8px
    
    
}


.grupo{
    margin-top: 12px;
}
h2{
    color:  #232221;;
    margin-left: 235px;
}

#form-adiciona{
    background: rgb(226, 238, 222);
    margin-top: 21px;
    
    
}

.imagem-maior{
    width: 10%;
    margin-left: 715px;
    margin-top: 2px;
}

.imagem-cao{
    position: absolute;
}

#form-adiciona .grupo{
    margin-top: 12px;
    margin-left: 273px;
}

#adicionar-cao{
    margin-top: 30px;
    margin-left: 394px;
    padding: 10px 15px;
    color: #353231;
    font-weight: bold;
}

.container-tabela{
    margin-top: 38px;
    background-color: rgb(183, 255, 231);
    width: 80%;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid rgb(144, 142, 142);
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: rgb(41, 41, 41);
	display: block;
	margin-bottom: .2em;
}



.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid rgb(142, 142, 142);
	padding: .7em;
	width: 25%;
}

span{
    color: red;
}

.fadeOut{
    opacity: 0;
    transition: 0.5s;
}

#filtrar-tabela {
    width: 200px;
    height: 35px;
    margin-bottom: -19px;
}

.invisivel{
    display: none;
}