<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Page Info-->
    <meta charset="pt-br" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
    rel="stylesheet"
    />
    <title>AdotaCão</title>
    <link rel="stylesheet" href="stylecadastro.css" />
    
    <script src="./scripts/main.js"></script>
    
  </head>

  <!--CORPO-->
  <body>
    <main>
      <div class="container">
        <div class="image">
          <img src="imagens/rectangle19.png" alt="cachorro e dono" />
        </div>
        <div class="content">
          <div class="logo">
            <img src="imagens/adotacao-logo.svg" alt="logo" />
          </div>
          <section class="register">
            <h1>Cadastro de cães para adoção</h1>
            <div class="form">
              <div class="name-age">
                <div class="input-group">
                  <p>Nome</p>
                  <input type="text" name="txtName" id="name" />
                </div>
                <div class="input-group">
                  <p>Idade</p>
                  <input type="number" name="txtIdade" id="age" />
                </div>
              </div>
              <div class="size-feature">
                <div class="input-group">
                  <p>Porte</p>
                  <select name="txtPorte" id="size">
                    <option value="Pequeno">Pequeno</option>
                    <option value="Médio">Médio</option>
                    <option value="Grande">Grande</option>
                  </select>
                </div>
                <div class="input-group">
                  <p>Característica</p>
                  
                  <input type="text" name="txtCarc"   id="feature" placeholder="Calmo,agitado..."/>
                </div>
              </div>
              <div class="input-breed">
                <div>
                  <p>Raça</p>
                  <input type="text" name="Raca"   id="breed">
                   </div>
                   
                </div>  
            </div>

            <div class="button-adc">
              <input type="button"  value="Adicionar" id="bt-adc" onclick="cadastrar()">
              <input type="hidden"  value="Atualizar" id="bt-att" onclick="cadastrar()">
              
            </div>
          </section>
           
          <div id="tab">
            <table id="tab1">
              <tr id="li1">
                <th>Código</th>
                 <th>Nome</th>
                 <th>Idade</th>
                 <th>Porte</th>
                 <th>Característica</th>
                 <th>Raça</th>
                 <th>Ação</th>
             </tr>                
         </table>
           </div>
        </div>
      </div>
    </main>   
  </body>
</html>
